<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <button><a href="negocios">negocios</a></button>

    <button onclick='fetch("/processPending").then(response=>response.text()).then(data=>alert(data)).catch(err=>alert("error"))'>procesar imagenes pendientes</button>
    <button onclick='fetch("/reset").then(response=>response.text()).then(data=>alert(data)).catch(err=>alert("error"))'>reset</button>

    <p>imagenes pendientes: {{ data[0] }}</p> 
    <p>imagenes siendo procesadas: {{ data[1] }}</p>
    <p>current status: {{ data[2] }}</p>
    <p>stop next: {{ data[3] }}</p>

</body>

</html>