<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: grey;">

    <button><a href="negocios">negocios</a></button>

    <button
        onclick='fetch("/processPending").then(response=>response.text()).then(data=>alert(data)).catch(err=>alert(error))'>procesar
        imagenes pendientes</button>
    <button
        onclick='fetch("/reset").then(response=>response.text()).then(data=>alert(data)).catch(err=>alert(err)).then(location.reload())'>reset</button>

    <button><a href='/downloadExcel'>descargar excel</a></button>

    <p>imagenes pendientes a eliminar fondo: {{ data[0] }}</p>
    <p>eliminando fondo de: {{ data[1] }} imagenes</p>
    <p>imagenes pendientes a agregar flechas: {{ data[2] }}</p>
    <p>agregando flechas a: {{ data[3] }} imagenes</p>
    <p>current status: {{ data[4] }}</p>
    <p>stop next: {{ data[5] }}</p>
    <p>pedidos disponibles: </p>
    <div id="keys">
        <p id="avaliable">0</p>

    </div>

    <script>
        async function getAllCallsLeftAsync(keys) {
            let calls = 0;
            for (let i = 0; i < keys.length; i++) {
                const response = await fetch('https://api.remove.bg/v1.0/account', {
                    headers: {
                        'accept': '*/*',
                        'X-API-Key': keys[i]
                    }
                });
                const data = await response.json();
                const callsLeft = data.data.attributes.api.free_calls;
                let key = document.createElement('p');
                key.innerText = "cuenta" + i + " con " + callsLeft;
                document.getElementById('keys').appendChild(key);
                calls += callsLeft;
                document.getElementById('avaliable').textContent = calls.toString();

            }
        }



        async function getKeys() {
            const response = await fetch("/getKeys");
            const keys = await response.json();
            getAllCallsLeftAsync(keys);
        }
        getKeys();

    </script>
</body>

</html>