<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>images</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <meta id="data" neg="{{neg}}" srcs="{{srcs}}" type="{{t}}">

    <button><a href="/">home</a></button>
    <button><a href="/negocios/{{neg}}">atras</a></button>
    <br>
    <br>
    <br>



    <div class="container-fluid">

        {% for src in srcs %}
        <div class="row">
            <div class="col">
                <button id="{{src}}" imgsNames="{{srcs[src]['images']}}" onclick="download(this)">des grupo
                    {{src}}</button>
            </div>
            <div class="col">
                <p>codigo: {{srcs[src]["uniqueID"]}}</p>
            </div>
        </div>
        <div class="row">
            {% for i in srcs[src]["images"] %}
            <div class="col">
                <img src="../../static/{{i}}" alt="img" height="80px" width="80px">
            </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>

    <script>
        function download(el) {
            console.log(el.getAttribute("id"));
            console.log(el.getAttribute("imgsNames"));

            const srcs = JSON.parse(el.getAttribute("imgsNames").replace(/'/g, '"'));
            console.log(srcs);

            for (let i = 0; i < srcs.length; i++) {
                const link = document.createElement('a');
                link.href = "/download/" + srcs[i];
                link.target = "_blank";
                link.download = srcs[i];
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }
    </script>
</body>

</html>